{
  "name": "{{ project_id }}",
  "description": "{{ description }}",
  "version": "{{ version }}",
  "project_type": "{{ project_type }}",
  "equipment_type": "{{ equipment_type }}",
  "plc_vendor": "{{ plc_vendor }}",
  "plc_model": "{{ plc_model }}",
  "libraries": [
    "../../../01_SharedLibraries/SysLib"
  ]
}
